<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>#title#</h1>
        <nav>
            <a href='/bus'>Home</a>
            <a href='/bus/images'>Images</a>
            <a href='/bus/form'>form</a>
        </nav>

        <h1> Form Page<h1>
        
        
</body>
</html>